{{>partial_header}}
package {{packageName}}

import (
    "github.com/gin-gonic/gin"
)

// Override this file if you are providing your custom implementations for the middleware

func LoggerImpl() gin.HandlerFunc {
    // Reimplement if custom behavior is desired
    return gin.Logger()
}

func RecoveryImpl() gin.HandlerFunc {
    // Reimplement if custom behavior is desired
    return gin.Recovery()
}

func DatabaseHandlerImpl() gin.HandlerFunc {

}