{{>partial_header}}
package main

import (
	"log"

    sw "{{gitHost}}/{{gitUserId}}/{{gitRepoId}}/{{sourceFolder}}"
)

func main() {
	log.Printf("Server started")

	router := sw.NewRouter()

	log.Fatal(router.Run(":{{serverPort}}"))
}
