{{>partial_header}}
package {{packageName}}

import (
    "github.com/gin-gonic/gin"
)

func Logger() gin.HandlerFunc {
    // Reimplement if custom behavior is desired
    return gin.Logger()
}

func Recovery() gin.HandlerFunc {
    // Reimplement if custom behavior is desired
    return gin.Recovery()
}

func DatabaseHandler() gin.HandlerFunc {

}